In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import datetime as dt

In [11]:
# Zadanie, Do wykonania zadań niezbędne będzie pobranie bazy filmów oraz bazy gatunków:

    # Baza filmów,     Baza gatunków

   #1 Zwróć listę 10 najwyżej ocenianych filmów (vote_average), których liczba głosów (vote_count) jest większa od 3. 
   #kwartyla rozkładu liczby głosów.

   #2 Pogrupuj tabelę w taki sposób, aby otrzymać średni przychód (revenue) oraz średni budżet (budget) w danym roku dla 
   #filmów opublikowanych od 2010 (włącznie) do 2016 roku (włącznie). Następnie na tej podstawie stwórz wykres,
    #w którym średnie przychody są wykresem kolumnowym, a średni budżet wykresem liniowym na tych samych osiach. 
    # Sformatuj odpowiednio oś X oraz oś Y. Dodaj tytuł wykresu, oraz legendę, która znajduje się w prawym górnym rogu 
    #płótna, lecz poza obszarem osi. Przykład wykresu widoczny poniżej:
    

    #3 Baza filmów zawiera kolumnę z id gatunku (genre_id). Na tej podstawie połącz ze sobą bazę filmów z bazą gatunków, tak aby w bazie filmów można było odczytać nazwę gatunku filmu.

    #4 Jaki gatunek filmu z bazy pojawia się w niej najczęściej? Ile filmów tego gatunku znajduje się w bazie?

    #5 Filmy, którego gatunku trwają średnio najdłużej (runtime)?

    #6 Stwórz histogram czasu trwania filmów z gatunku, który cechuje się największym średnim czasem trwania.

In [2]:
df = pd.read_csv('tmdb_movies.csv')

In [3]:
df

,Unnamed: 0,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
0,0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800,28.0
1,1,300000000,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,12.0
2,2,245000000,http://www.sonypictures.com/movies/spectre/,206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466,28.0
3,3,250000000,http://www.thedarkknightrises.com/,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,The Legend Ends,The Dark Knight Rises,7.6,9106,28.0
4,4,260000000,http://movies.disney.com/john-carter,49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,"Lost in our world, found in another.",John Carter,6.1,2124,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,4798,220000,NaN,9367,es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,1992-09-04,2040920,81.0,Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,28.0
4799,4799,9000,NaN,72766,en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,2011-12-26,0,85.0,Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,35.0
4800,4800,0,http://www.hallmarkchannel.com/signedsealeddel...,231617,en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,2013-10-13,0,120.0,Released,NaN,"Signed, Sealed, Delivered",7.0,6,35.0
4801,4801,0,http://shanghaicalling.com/,126186,en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,2012-05-03,0,98.0,Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,NaN
4802,4802,0,NaN,25975,en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,2005-08-05,0,90.0,Released,NaN,My Date with Drew,6.3,16,99.0

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df1 = df.sort_values(by='vote_count',ascending=False)

In [16]:
df1

,Unnamed: 0,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
96,96,160000000,http://inceptionmovie.warnerbros.com/,27205,en,Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,2010-07-14,825532764,148.0,Released,Your mind is the scene of the crime.,Inception,8.1,13752,28.0
65,65,185000000,http://thedarkknight.warnerbros.com/dvdsite/,155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,187.322927,2008-07-16,1004558444,152.0,Released,Why So Serious?,The Dark Knight,8.2,12002,18.0
0,0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800,28.0
16,16,220000000,http://marvel.com/avengers_movie/,24428,en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,2012-04-25,1519557910,143.0,Released,Some assembly required.,The Avengers,7.4,11776,878.0
788,788,58000000,http://www.foxmovies.com/movies/deadpool,293660,en,Deadpool,Deadpool tells the origin story of former Spec...,514.569956,2016-02-09,783112979,108.0,Released,Witness the beginning of a happy ending,Deadpool,7.4,10995,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4210,4210,0,NaN,74084,hi,दिल जो भी कहे,"During the British rule in India, several Indi...",0.122704,2006-12-07,0,0.0,Released,NaN,Dil Jo Bhi Kahey...,0.0,0,10749.0
4716,4716,0,NaN,38786,en,The Blood of My Brother: A Story of Death in Iraq,THE BLOOD OF MY BROTHER goes behind the scenes...,0.005256,2005-11-25,0,90.0,Released,NaN,The Blood of My Brother: A Story of Death in Iraq,0.0,0,NaN
4569,4569,0,http://mutualfriendsmovie.com/,198370,en,Mutual Friends,Surprise parties rarely go well. This one is n...,0.136721,2014-04-15,0,0.0,Released,Surprise parties rarely go well.,Mutual Friends,0.0,0,NaN
4714,4714,0,NaN,282128,en,An American in Hollywood,A talented young filmmaker from New York sets ...,0.015697,2014-07-18,0,89.0,Released,NaN,An American in Hollywood,0.0,0,NaN
4486,4486,700000,http://naturallynative.com/home.html,302579,en,Naturally Native,"Naturally Native follows the lives, loves, pai...",0.578798,1999-10-08,10508,107.0,Released,"Sometimes When You're Going Home, It's Importa...",Naturally Native,0.0,0,18.0

In [32]:
x = 13752 *75/100

In [33]:
x

10314.0

In [34]:
df2 = df1[(df1['vote_count'] >  x)]

In [35]:
df2

,Unnamed: 0,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
96,96,160000000,http://inceptionmovie.warnerbros.com/,27205,en,Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,2010-07-14,825532764,148.0,Released,Your mind is the scene of the crime.,Inception,8.1,13752,28.0
65,65,185000000,http://thedarkknight.warnerbros.com/dvdsite/,155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,187.322927,2008-07-16,1004558444,152.0,Released,Why So Serious?,The Dark Knight,8.2,12002,18.0
0,0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800,28.0
16,16,220000000,http://marvel.com/avengers_movie/,24428,en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,2012-04-25,1519557910,143.0,Released,Some assembly required.,The Avengers,7.4,11776,878.0
788,788,58000000,http://www.foxmovies.com/movies/deadpool,293660,en,Deadpool,Deadpool tells the origin story of former Spec...,514.569956,2016-02-09,783112979,108.0,Released,Witness the beginning of a happy ending,Deadpool,7.4,10995,28.0
95,95,165000000,http://www.interstellarmovie.net/,157336,en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,2014-11-05,675120017,169.0,Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,12.0

In [37]:
df3 = df2.sort_values(by='vote_average',ascending=False)

In [39]:
df3.head(10)

,Unnamed: 0,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
65,65,185000000,http://thedarkknight.warnerbros.com/dvdsite/,155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,187.322927,2008-07-16,1004558444,152.0,Released,Why So Serious?,The Dark Knight,8.2,12002,18.0
96,96,160000000,http://inceptionmovie.warnerbros.com/,27205,en,Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,2010-07-14,825532764,148.0,Released,Your mind is the scene of the crime.,Inception,8.1,13752,28.0
95,95,165000000,http://www.interstellarmovie.net/,157336,en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,2014-11-05,675120017,169.0,Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,12.0
16,16,220000000,http://marvel.com/avengers_movie/,24428,en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,2012-04-25,1519557910,143.0,Released,Some assembly required.,The Avengers,7.4,11776,878.0
788,788,58000000,http://www.foxmovies.com/movies/deadpool,293660,en,Deadpool,Deadpool tells the origin story of former Spec...,514.569956,2016-02-09,783112979,108.0,Released,Witness the beginning of a happy ending,Deadpool,7.4,10995,28.0
0,0,237000000,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800,28.0

In [40]:
#2 Pogrupuj tabelę w taki sposób, aby otrzymać średni przychód (revenue) oraz średni budżet (budget) w danym roku dla 
   #filmów opublikowanych od 2010 (włącznie) do 2016 roku (włącznie).

In [61]:
df5 = df1[(pd.to_datetime(df1['release_date']) < dt.datetime(2016, 1, 1)) &       
          (pd.to_datetime(df1['release_date']) > dt.datetime(2010, 1, 1))]

In [64]:
df5

,Unnamed: 0,budget,homepage,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
96,96,160000000,http://inceptionmovie.warnerbros.com/,27205,en,Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,2010-07-14,825532764,148.0,Released,Your mind is the scene of the crime.,Inception,8.1,13752,28.0
16,16,220000000,http://marvel.com/avengers_movie/,24428,en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,2012-04-25,1519557910,143.0,Released,Some assembly required.,The Avengers,7.4,11776,878.0
95,95,165000000,http://www.interstellarmovie.net/,157336,en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,2014-11-05,675120017,169.0,Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,12.0
287,287,100000000,http://unchainedmovie.com/,68718,en,Django Unchained,"With the help of a German bounty hunter, a fre...",82.121691,2012-12-25,425368238,165.0,Released,"Life, liberty and the pursuit of vengeance.",Django Unchained,7.8,10099,18.0
94,94,170000000,http://marvel.com/guardians,118340,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",481.098624,2014-07-30,773328629,121.0,Released,All heroes start somewhere.,Guardians of the Galaxy,7.9,9742,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715,4715,0,NaN,86812,en,Sound of My Voice,A journalist and his girlfriend get pulled in ...,6.192383,2011-01-22,0,85.0,Released,NaN,Sound of My Voice,6.3,108,878.0
3662,3662,5000000,NaN,244403,en,Rudderless,A grieving father in a downward spiral stumble...,10.619574,2014-10-17,0,105.0,Released,The way back begins with a single chord.,Rudderless,7.4,105,10402.0
1381,1381,35000000,http://disney.go.com/disneypictures/secretariat/,39486,en,Secretariat,Housewife and mother Penny Chenery agrees to t...,9.525037,2010-08-20,60251371,123.0,Released,The Impossible True Story,Secretariat,6.8,103,18.0
3475,3475,0,http://www.casademipadremovie.com/,80304,en,Casa De Mi Padre,Scheming of a way to save their father's ranch...,5.754416,2012-03-15,0,84.0,Released,Funniest movie you'll ever read.,Casa De Mi Padre,5.5,103,35.0
2010,2010,11000000,NaN,354110,en,Forsaken,John Henry returns to his hometown in hopes of...,11.071522,2015-09-16,0,90.0,Released,NaN,Forsaken,5.8,101,37.0

AttributeError: 'Series' object has no attribute 'dt5'

In [ ]:
df10 = pd.read_csv('tmdb_genres.csv')

In [66]:
df10

    Unnamed: 0           genres
0         28.0           Action
1         12.0        Adventure
2         14.0          Fantasy
3         16.0        Animation
4        878.0  Science Fiction
5         18.0            Drama
6         53.0         Thriller
7      10751.0           Family
8         35.0           Comedy
9         36.0          History
10     10752.0              War
11        37.0          Western
12     10749.0          Romance
13        80.0            Crime
14      9648.0          Mystery
15        27.0           Horror
16        99.0      Documentary
17     10402.0            Music
18     10770.0         TV Movie
19         NaN              NaN
20     10769.0          Foreign